/* ===================== */
/*  鱼卡牌层 */
/* ===================== */
#fishLayer {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
    z-index: 20;
}

/* 负责整体悬浮 */
.fish-wrapper {
    animation: float 3s ease-in-out infinite;
}
/* 卡牌 */
.fish-card {
    width: 260px;
    border-radius: 12px;
    cursor: pointer;

    pointer-events: auto;

    /* animation: float 3s ease-in-out infinite; */

    transition: transform 0.2s ease, filter 0.3s;
        /* filter: drop-shadow(0 0 20px rgba(88,166,255,0.6)); */

    transform-style: preserve-3d;
    will-change: transform;

    -webkit-user-select: none;
    user-select: none;
    /* 禁止长按高亮（手机） */
    -webkit-tap-highlight-color: transparent;

    /* 禁止图片被拖走 */
    -webkit-user-drag: none;

    /* 禁止点击轮廓 */
    outline: none;
}

@keyframes float {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-12px); }
    100% { transform: translateY(0px); }
}
/* ===================== */
/*  暗化 + 聚光层 */
/* ===================== */
#fishOverlay {
    position: absolute;
    inset: 0;

    background: radial-gradient(
        circle at center,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.6) 60%,
        rgba(0,0,0,0.85) 100%
    );

    opacity: 0;
    transition: opacity 0.4s ease;

    pointer-events: none;
    z-index: 10;
}

/* 激活时 */
#fishOverlay.active {
    opacity: 1;
}
